.test-div{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box-container{
    padding-inline: 3rem;
    padding-block-end: 10rem;
}

.box-item{
    background-color: white;
    height: 40px;
    width: 40px;
    margin : 0.6rem;
    list-style-type: none;
}

button{
    margin : 1.5rem;
}